body {
    text-align: center;
}

div {
    min-width: 200px;
    max-width: 200px;
    min-height: 200px;
    max-height: 200px;
    display: inline-block;
    border: 3px solid black;
    border-radius: 200px;
    margin: 5% 1%;
    transition: 0.3s;
}

div:hover {
    box-shadow: 10px 10px 20px #000000c0;
    transition: 0.5s;
}

div div:active {
    transform: translate(5px, 5px);
    transition: 0.3s;
}

#ball1 {
    background: linear-gradient(45deg, #1d8f53 0 50%, #6e0e60 50% 100%);
}
#ball2 {
    background: linear-gradient(45deg, #454270 0 50%, #d9ab42 50% 100%);
}
#ball3 {
    background: linear-gradient(45deg, #00011f 0 50%, #c65d0c 50% 100%);
}
#ball4 {
    background: linear-gradient(45deg, #0b0e69 0 50%, #2accfe 50% 100%);
}
#ball5 {
    background: linear-gradient(
        45deg,
        #fff 0 49.5%,
        #000 49.5% 50.5%,
        #fff 50.5% 100%
    );
}
div span {
    position: relative;
    font-size: 72px;
    font-weight: bold;
}
div span:first-of-type {
    top: 90px;
    left: -10px;
}

div span:last-of-type {
    top: 20px;
    left: +10px;
}
